#image-frame {
	position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    width: 624px;
    height: 649px;
    overflow-y: hidden;
}

table, td, th {
	border: 2px solid;
	border-spacing: 2px;
	padding: 2px;

}