* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#image-frame {
	position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    width: 624px;
    height: 649px;
    overflow-y: hidden;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}